:root{
    --bg-color:#427D9D;
}

body{
    background-color: var(--bg-color);
}

.card{
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    color: #2b5166;
    /* background-color: #e6d3b6; */
}

h1{
    font-size: 60px;
    font-weight: 700;
}

h1 span{
    font-size: 80px;
}

button{
    background-color: #2b5166 !important;
    border: 2px solid #2b5166 !important;
    color: white !important;
    transition: all 0.5s !important;
}

button:hover{
    background-color: transparent !important;
    
    color: var(--bg-color) !important;
}


@media screen and (max-width: 768px) {
  .card{
    width: 90%;
    height: 90%;
  }
}